/.Rhistory
/data/ahs2011n.csv
/data/ahs2013n.csv
/data/ahs2015n.csv
/data/ahs2017n.csv
/data/ahs2019n.csv
/data/tAHS1997N.csv
/data/tAHS1999N.csv
/data/tAHS2001N.csv
/data/tAHS2003N.csv
/data/tAHS2005N.csv
/data/tAHS2007N.csv
/data/tAHS2009N.csv
/data/tahs87n.CSV
/data/tahs89n.csv
/data/tahs91n.csv
/data/tahs93n.csv
/data/tahs95n.csv
/data_ahs.RData
/data/tahs85n.csv
/data/AHS links.txt
/sas replicate/*.sas
/read AHS data sas.R
/AHS data links.txt
/debug_sample_match.R
/2015 AHS Variable Crosswalk.csv
/not shared
